section#home-hero
    h1= _data.home.mainTitle
    p= _data.home.mainParagraph

    figure
        img(src="assets/images/pic1.jpg", height="200", alt="")
        figcaption #{_data.home.photoCredit}
            a(href="https://unsplash.com/search/work?photo=6g0KJWnBhxg", target="_blank") Luis Llerena/Unsplash
